<template>
    <div class="container h-100">
        <div class="row h-75 justify-content-center align-items-center">
            <div class="col-md-3 p-0 m-3" v-for="(weatherConfig, index) in weatherList" :key="index">
                <weather :weather-config="weatherConfig" @remove="remove(index)"/>
            </div>
        </div>
        <div class="row h-25 justify-content-center">
            <div>
                <div class="form-group">
                    <label for="city-input">Enter city</label>
                    <input id="city-input" class="form-control" v-model="cityInput" @keyup.enter="submit">
                </div>
                <button type="submit" class="btn btn-primary" @click="submit">Submit</button>
            </div>
        </div>

        <div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ errMsg }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Weather from './weather';

    export default {
        data: () => ({
            weatherList: [
                {city: 'singapore'}
            ],
            cityInput: '',
            errMsg: '',
        }),
        components: {
            Weather
        },
        methods: {
            submit() {
                if (!this.cityInput.length) {
                    this.errMsg = 'City cannot be empty'
                    $('#errorModal').modal('show');
                    return;
                }

                if (this.weatherList.length >= 3) {
                    this.errMsg = 'You\'ve hit the limit which is 3 cities.'
                    $('#errorModal').modal('show');
                    return;
                }

                this.weatherList.push({
                    city: this.cityInput
                });
                this.cityInput = '';
            },
            remove(index) {
                this.$delete(this.weatherList, index);
            }
        }
    }
</script>
