<template>
    <div>
        <div class="card mb-2" @mouseover="isHover = true">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span>{{ capitalizedCity }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img :src="weatherImgSrc" style="width: 100%" alt="weather"/>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>{{ temperature }} &#8451;</div>
                    <div>{{ weatherDescription }}</div>
                </div>
            </div>
        </div>

        <div class="form-inline justify-content-center mb-2">
            <label for="interval-selection" class="mr-2">Interval (ms)</label>
            <select id="interval-selection" class="custom-select" v-model.number="interval">
                <option>1000</option>
                <option>2000</option>
                <option>3000</option>
                <option>4000</option>
                <option>5000</option>
            </select>
        </div>

        <!-- show when loading-->
        <loading-overlay
            :active.sync="isLoading"
            :is-full-page="false"
            :z-index="9998"
            loader="dots"/>

        <!-- show on hover-->
        <div class="overlay h-100 justify-content-center align-items-center"
             v-show="isHover"
             @mouseleave="isHover = false">
            <div @click="$emit('remove')">
                <i class="far fa-times-circle fa-7x text-danger"></i>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import {startCase, toLower} from 'lodash';
    import LoadingOverlay from 'vue-loading-overlay';

    export default {
        props: {
            weatherConfig: {
                type: Object,
                required: true,
            },
        },
        components: {
            LoadingOverlay
        },
        data: () => ({
            weatherDataResult: null,
            isHover: false,
            isLoading: false,
            interval: 5000,
            refreshInterval: null,
        }),
        computed: {
            capitalizedCity() {
                return startCase(toLower(this.weatherConfig?.city));
            },
            temperature() {
                return this.weatherDataResult?.main?.temp;
            },
            weatherDescription() {
                return this.weatherDataResult?.weather[0]?.main;
            },
            weatherImgSrc() {
                if (this.weatherDataResult) {
                    return `http://openweathermap.org/img/wn/${this.weatherDataResult.weather[0].icon}@2x.png`;
                }
            }
        },
        watch: {
            interval() {
                this.setAutoRefresh();
            }
        },
        methods: {
            async loadWeatherData() {
                this.isLoading = true;
                const weatherResult = await axios.get(
                    `http://api.openweathermap.org/data/2.5/weather?q=${this.weatherConfig?.city}&appid=ecc8683f03516b9a93e1043d7d008960&units=metric`
                );

                this.weatherDataResult = weatherResult.data;
                this.isLoading = false;
            },
            setAutoRefresh() {
                this.clearRefreshInterval();
                this.refreshInterval = setInterval(this.loadWeatherData, this.interval);
            },
            clearRefreshInterval() {
                if (this.refreshInterval !== null) {
                    clearInterval(this.refreshInterval);
                    this.refreshInterval = null;
                }
            }
        },
        mounted() {
            this.loadWeatherData();
            this.setAutoRefresh();
        },
        beforeDestroy() {
            this.clearRefreshInterval();
        }
    }
</script>

<style scoped>
    @import '~vue-loading-overlay/dist/vue-loading.css';

    .overlay {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        background-color: rgb(33, 33, 33);
        opacity: 0.9;
        z-index: 9999;
    }
</style>
